.footer-separator-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.footer-separator-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-top: -1px;
}
.footer-separator-parent img{
    transform: rotate(180deg);
}



