.resume-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    scroll-behavior: smooth;
    margin-bottom: 100px;
}

.resume-title1 {
    font-family: "Poppins Bold";
    font-size: 32px;
    color: rgb(17, 7, 44);
}

.resume-title2 {
    font-family: "Poppins Regular";
    font-size: 12px;
    color: black;
}

.resume-card{
    display: flex;
    height: 360px;
    width: 1000px;
}
.resume-bullets-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.resume-bullets-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.bullets-icons{
    width: 35px;
    height: 100%;
    z-index: 1;
    background-color: #1f2235;
    position: absolute;
}
.resume-bullets{
    box-shadow: 15px 0 9px -15px #1f2235;
    height: 100%;
    width: 350px;
}

.bullets{
    width: 86%;
    position: relative;
    z-index: 2;
    text-align: left;
}

.bullet-logo {
    height: 16px;
    margin: 0 30px 0 0;
}

.bullet{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 15px 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 30px; 
    background-color: #1f2235;
    transition: width .6s ease; 
}

.bullet span{
    white-space: nowrap;
}

.selected-bullet{
    color: white;
    width: 100%;
}

.resume-bullets-details{
    width: 500px;
    flex-grow: 1;
    overflow: hidden;
}

.resume-bullets-details div{
    height: 355px;
    scroll-margin-top: 20px;
    padding-left: 30px;
    text-align: start;
}
